{%extends 'base.html'%}
{%load crispy_forms_tags%}

{%block title%}Change Password{%endblock title%}

{%block content%}
<div id="content", name="content", class="main">
    <div class="row justify-content-center mt-3">
        <div class="col-5 mt-5">
            <h1 class="mt-5">Change your password:</h1>
            <hr class="mt-0 mb-4">

            <div class="mt-3">
                <form method="POST" class="form_login">
                    {%csrf_token%}
                    <div class="mb-3 row col-8">
                        <label>Current Password</label>
                        <br/>
                        {{form.old_password}}
                        {{form.old_password.errors}}
                    </div>

                    <div class="mb-3 row col-8">
                        <label>New Password</label>
                        <br/>
                        {{form.new_password1}}
                        {{form.new_password1.errors}}
                    </div>

                    <div class="mb-3 row col-8">
                        <label>Confirm Password</label>
                        <br/>
                        {{form.new_password2}}
                        {{form.new_password2.errors}}
                    </div>
                    <button class="btn btn-outline-success mt-3" type="sumbit">Submit</button>
                </form> 
                <a href="{% url 'edit' %}"><button class="btn btn-outline-danger mt-3">Back</button></a>
            </div>
            <div style="margin: top 150px;">

            </div>
        <div class="col-3 mt-5">
    </div>
</div>

{%endblock%}