.space{
    margin-top: 500px;
}
.main{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
  }
  footer{
    margin-top: auto;
  }
.space-little{
  margin-top: 3rem;
}
.img-space{
  margin-top: 6rem;
}
.asteriskField {
display: none;
}