{%extends 'base.html'%}
{%block title%} List {%endblock%}
{%block content%}
<div class="container-fluid col-10">
    <h1 class="display-3 text-center">{{muscle}} exercises</h1>
    <br/>
    
    <table class="mt-4 text-center table table-striped table-hover">
        <thead>
            <tr>
                {%if muscle == "All"%}
                <th scope="col">Muscle</th>
                {%endif%}
                <th scope="col">Name</th>
                <th scope="col">Repetition</th>
                <th scope="col">Series</th>
                <th scope="col">Weight</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            {%for instance in data%}
            <tr>
            {%if muscle == "All"%}
            <td><b>{{instance.muscle}}</b></td>
            {%endif%}
            <td><b>{{instance.name}}</b></td>
            <td>{{instance.rep}}</td>
            <td>{{instance.ser}}</td>
            <td>{{instance.weight}}</td>
            <td>
                
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#{{instance.formID}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg>
                    </button>

                    <div class="modal fade" id="{{instance.formID}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">

                            <div class="modal-header">
                              <h1 class="display-3" style="margin-left: auto;" >{{instance.name}}</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form role="form" action="{% url 'exercise-update' instance.id %}" method="POST">
                                {%csrf_token%}
                                <div class="justify-content-center form-row mt-3">
                                  <div style="width: 600px;">
                                    <div class=" form-group col mr-2">
                                      {{instance.form.name.errors}}
                                      {{instance.form.name}}
                                    </div>
                                  </div>

                                </div>
                                
                                <div class="justify-content-center mt-3 form-row">
                                    <div class="form-group col-md-2 mr-2">
                                        {{instance.form.repetition.errors}}
                                        {{instance.form.repetition}}
                                    </div>

                                    <div class="mt-2">
                                        X
                                    </div>
                                    
                                    <div class="form-group col-md-2 ml-2 mr-5">
                                        {{instance.form.series}}
                                    </div>

                                    
                                        <div class="form-group col-sm-2 input-group">
                                            {{instance.form.weight.errors}}
                                            {{instance.form.weight}}
                                            <div class="input-group-append">
                                                <span class="input-group-text">KG</span>
                                            </div>
                                        </div>
                                </div>

                                <div class="justify-content-center mt-3 form-row mb-3">
                                    {{instance.form.type.errors}}
                                    {{instance.form.type}}
                                </div>
                                <div class="modal-footer">
                                  <button type="submit" class="mt-3 btn btn-outline-success btn-lg">Save</button>
                                </div>
                            </form>
                          </div>
                        </div>
                      </div>
            </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{%endblock content%}