{%extends 'base.html'%}
{%block title%} Training List{%endblock%}
{%block content%}
<div class="d-flex justify-content-end">
  <svg data-bs-toggle="modal" data-bs-target="#info" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
  </svg>
</div>


<h5 class="display-3 text-center">Training Calendar</h5>
  <table class="table table-striped space-little">
    <thead>
      <tr>
        <th scope="col">Day of the week </th>
        {% if 'chest' in trained_muscles_week %}<th class="text-center" scope="col">Chest</th>{%endif%}
        {% if 'biceps' in trained_muscles_week %}<th class="text-center" scope="col">Biceps</th>{%endif%}
        {% if 'triceps' in trained_muscles_week %}<th class="text-center" scope="col">Triceps</th>{%endif%}
        {% if 'shoulders' in trained_muscles_week %}<th class="text-center" scope="col">Shoulders</th>{%endif%}
        {% if 'back' in trained_muscles_week %}<th class="text-center" scope="col">Back</th>{%endif%}
        {% if 'abs' in trained_muscles_week %}<th class="text-center" scope="col"> ABS</th>{%endif%}
        {% if 'hamstring' in trained_muscles_week %}<th class="text-center" scope="col">Hamstring</th>{%endif%}
        {% if 'calves' in trained_muscles_week %} <th class="text-center" scope="col">Calves</th>{%endif%}
        {% if 'glutes' in trained_muscles_week %} <th class="text-center" scope="col">Glutes</th>{%endif%}
      </tr>
    </thead>
    <tbody>
        {%for instance in sorted_data%}
        <tr data-bs-toggle="modal" data-bs-target="#{{instance.day}}">
          <td scope="row"><h5><strong>{{instance.day}}</strong></h5></td>
          {% if 'chest' in trained_muscles_week %}<td class="text-center font-weight-bold" scope="row">{%if 'chest' in instance.muscles %} X {%endif%}</td>{%endif%}
          {% if 'biceps' in trained_muscles_week %}<td class="text-center font-weight-bold" scope="row">{%if 'biceps' in instance.muscles %} X {%endif%}</td>{%endif%}
          {% if 'triceps' in trained_muscles_week %}<td class="text-center font-weight-bold" scope="row">{%if 'triceps' in instance.muscles %} X {%endif%}</td>{%endif%}
          {% if 'shoulders' in trained_muscles_week %}<td class="text-center font-weight-bold" scope="row">{%if 'shoulders' in instance.muscles %} X {%endif%}</td>{%endif%}
          {% if 'back' in trained_muscles_week %}<td class="text-center font-weight-bold" scope="row">{%if 'back' in instance.muscles %} X {%endif%}</td>{%endif%}
          {% if 'abs' in trained_muscles_week %}<td class="text-center font-weight-bold" scope="row">{%if 'abs' in instance.muscles %} X {%endif%}</td>{%endif%}
          {% if 'hamstring' in trained_muscles_week %}<td class="text-center font-weight-bold" scope="row">{%if 'hamstring' in instance.muscles %} X {%endif%}</td>{%endif%}
          {% if 'calves' in trained_muscles_week %}<td class="text-center font-weight-bold" scope="row">{%if 'calves' in instance.muscles %} X {%endif%}</td>{%endif%}
          {% if 'glutes' in trained_muscles_week %}<td class="text-center font-weight-bold" scope="row">{%if 'glutes' in instance.muscles %} X {%endif%}</td>{%endif%}




            <div class="modal fade" id="{{instance.day}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                  <div class="modal-header">
                    <h1 class="display-3" style="margin-left: auto;" >{{instance.day}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form role="form" action="{% url 'training-update' instance.id %}" method="POST">
                      {%csrf_token%}
                      <div class="justify-content-center form-row mt-3">
                        <div class="space-little form-group mr-2" style="min-width: 300px;">
                          {{instance.form.exercise.errors}}
                          {{instance.form.exercise}}
                        </div>
                      </div>
                      <div class="modal-footer space-little">
                        <button type="submit" class="mt-3 btn btn-outline-success btn-lg">Save</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
        </tr>
        {%endfor%}
    </tbody>
  </table>






  <div class="modal fade" id="info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Creating Training Schedule</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mb-3">
          Click on the day in order to add or modify training for this day
        </div>
      </div>
    </div>
  </div>


{%endblock%}