{% extends 'base.html' %}
{% block title %} Weight Update {% endblock title %}

{% block content %}
<form method="POST" action=""> {%csrf_token%}
    <div class="d-flex justify-content-between">
        <div>
            <button class="btn btn-sm btn-outline-secondary" type="submit" name="type" value="weekly">Weekly</button>
            <button class="btn btn-sm btn-outline-secondary" type="submit" name="type" value="daily">Daily</button>
        </div>

        <div>
            <button class="btn btn-sm btn-outline-secondary" type="submit" name="method" value="ascending">Ascending</button>
            <button class="btn btn-sm btn-outline-secondary" type="submit" name="method" value="descending">descending</button>
        </div>
    </div>
</form>

<div class="container-fluid col-6">
    <h1 class="display-3 text-center">Weight History</h1>
    <br/>
    
    <table class="mt-4 table text-center table-striped table-hover">
        <thead>
            <tr>
                {%if type == 'weekly'%}
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Average</th>
                <th scope="col">Change</th>
                {%else%}
                <th scope="col">Day</th>
                <th scope="col">Weight</th>
                <th scope="col">Change</th>
                {%endif%}
            </tr>
        </thead>
        <tbody>
            {%if type == 'weekly'%}

            {%for instance in week%}
            <tr>
            <td>{{instance.4}}</td>
            <td>{{instance.5}}</td>
            <td>{{instance.3|floatformat:"-2g"}}</td>
            {%if instance.6 %}
            <td>{{instance.6|floatformat:"-2g"}}</td>
            {%else%}
            <td> </td>
            {%endif%}
            </tr>
            {%endfor%}
            {%else%}

            {%for instance in data%}
            <tr>
            <td><b>{{instance.0}}</b></td>
            <td>{{instance.1}}</td>
            {%if instance.2%}
            <td>{{instance.2|floatformat:"-2g"}}% 
                {%if instance.3 == "up"%} 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"/></svg>  

                {%elif instance.3 == "down"%}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0v6z"/></svg>
                {%else%}
                {%endif%}
            </td>

            {%else%}
            <td> </td>
            {%endif%}
            </tr>
            {%endfor%}

            {%endif%}
        </tbody>
    </table>
</div>

<div class="space-little mr-5">
<form method="POST" action="{% url 'weight' %}"> {%csrf_token%}
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="input-group" style="width: 500px;">
                {{form.value}}
                <div class="input-group-append">
                    <span class="input-group-text rounded-right">KG</span>
                </div>
                <button onclick="success()" class="btn btn-outline-success rounded ml-3" type="submit" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                </svg></button>
            </div>
        </div>
</form>
</div>
{%endblock content%}